<a href="https://colab.research.google.com/github/laprass/drive/blob/main/%5Bn122a%5D_chi_square_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 2 / NOTE 2*

# ğŸ“ Assignment


## 1. ê³µê³µë°ì´í„° ì¡°ì‘ ì—°ìŠµ. 

êµ­ê°€ í†µê³„ í¬í„¸ì—ì„œ ì•„ë˜ ì´ë¯¸ì§€ë¥¼ ì°¸ì¡°í•˜ì—¬

<https://kosis.kr/statisticsList/statisticsListIndex.do?menuId=M_01_01&vwcd=MT_ZTITLE&parmTabId=M_01_01#SelectStatsBoxDiv>

**2020ë…„ 8ì›”**ì— í•´ë‹¹í•˜ëŠ” ê·œëª¨ë³„ ë¯¸ë¶„ì–‘í˜„í™© ì— ëŒ€í•œ ë°ì´í„°ì…‹ì„ ìƒì„±í•˜ì„¸ìš”. 

<img src='https://i.imgur.com/aZc4UJO.png' width = 500>

- `60mì´í•˜`, `60~85m`, `85mì´ˆê³¼`ì˜ 3ê°œ ê·œëª¨ì™€ (column)
- `ì„œìš¸`, `ëŒ€ì „`, `ëŒ€êµ¬`, `ë¶€ì‚°` 4ê°œì˜ ì§€ì—­ì„ í¬í•¨í•´ì•¼í•©ë‹ˆë‹¤. (row)
- ë°ì´í„°ê°€ ì—†ëŠ” ê²½ìš°ëŠ” 0ìœ¼ë¡œ ì²˜ë¦¬í•˜ì„¸ìš”.

ì´í›„ ë°ì´í„°ì…‹ì„ colabìœ¼ë¡œ ë¶ˆëŸ¬ì˜¤ì„¸ìš”. ì´ë•Œ ë³€ìˆ˜ì˜ ì´ë¦„ì€ `df`ë¥¼ ì‚¬ìš©í•©ë‹ˆë‹¤.

In [55]:
!pip install --upgrade scipy

Collecting scipy
  Downloading https://files.pythonhosted.org/packages/b6/3a/9e0649ab2d5ade703baa70ef980aa08739226e5d6a642f084bb201a92fc2/scipy-1.6.1-cp37-cp37m-manylinux1_x86_64.whl (27.4MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 27.4MB 150kB/s
Requirement already satisfied, skipping upgrade: numpy>=1.16.5 in /usr/local/lib/python3.7/dist-packages (from scipy) (1.19.5)
ERROR: albumentations 0.1.12 has requirement imgaug<0.2.7,>=0.2.5, but you'll have imgaug 0.2.9 which is incompatible.
Installing collected packages: scipy
  Found existing installation: scipy 1.4.1
    Uninstalling scipy-1.4.1:
      Successfully uninstalled scipy-1.4.1
Successfully installed scipy-1.6.1

In [40]:
import pandas as pd
import numpy as np
import scipy as sp
from scipy import stats

In [92]:
# 1/4 : ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
url = 'https://raw.githubusercontent.com/laprass/drive/main/house.csv'
df = pd.read_csv(url, encoding='utf-8')
df = df.reindex(index=[0,3,2,1]) # ì„œìš¸ ëŒ€ì „ ëŒ€êµ¬ ë¶€ì‚° ìˆœì„œë¡œ í–‰ìˆœì„œ ë³€ê²½ (https://k-glory.tistory.com/21)
df = df.set_index('ì‹œë„') # ì§€ì—­ìœ¼ë¡œ ì¸ë±ìŠ¤ ì§€ì •
df

     60  60-85   85
ì‹œë„
ì„œìš¸   54      2    0
ëŒ€ì „  782      1    0
ëŒ€êµ¬  143   1437   44
ë¶€ì‚°  577    735  142

In [93]:
print(df.shape)
df
# 1/4 ì™„ë£Œ (2/7)

(4, 3)

     60  60-85   85
ì‹œë„
ì„œìš¸   54      2    0
ëŒ€ì „  782      1    0
ëŒ€êµ¬  143   1437   44
ë¶€ì‚°  577    735  142

## 2. ì§€ì—­ì— ëŒ€í•´ì„œ one-sample chi-square testë¥¼ ì‹¤í–‰, í•´ë‹¹ ê²°ê³¼ë¥¼ `chi1`ì— ì €ì¥ í›„ ì„¤ëª…í•´ë³´ì„¸ìš”.

9ì›”ë‹¬ ë°ì´í„°ë¥¼ ê¸°ì¤€ìœ¼ë¡œ í•œë‹¤ë©´
```python
 [0+0+0+52+2+0, 0+0+0+590+665+142, 0+0+0+113+1061+42, 0+0+0+772+1+0]
```
ì„ ë¹„êµí•´ì•¼í• ê²ë‹ˆë‹¤.

In [43]:
# 2/4 : ì›ì‚¬ì´ë“œ ì¹´ì´ì œê³± ê²€ì •, ê²°ê³¼ê°’ì€ 'chi1'
## ì¹´ì´ì œê³± ê³µë¶€í•˜ê¸° : https://blog.naver.com/moses3650/221192466252

## Ho : ì§€ì—­ì— ë”°ë¼ ë¯¸ë¶„ì–‘ìˆ˜ì— ì°¨ì´ëŠ” ì—†ë‹¤.
## H1 : ì°¨ì´ê°€ ìˆë‹¤!

# í–‰ë‹¨ìœ„ ë°ì´í„° ì½ì–´ì˜¤ê¸° : https://devpouch.tistory.com/47
# df.iloc[0]

In [72]:
## ì§€ì—­ë³„ ê¸°ëŒ€ê°’(í‰ê· ) êµ¬í•´ì„œ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë§Œë“¤ê¸°
#ì°¸ê³  ì½”ë“œ : https://nittaku.tistory.com/113
# skipna = True : ê²°ì¸¡ê°’ ì—†ì„ë•Œ, ìˆìœ¼ë©´ false

df1 = df[['60','60-85','85']]
df1['total'] = df['60']+df['60-85']+df['85']
df1

     60  60-85   85  total
ì‹œë„
ì„œìš¸   54      2    0     56
ëŒ€ì „  782      1    0    783
ëŒ€êµ¬  143   1437   44   1624
ë¶€ì‚°  577    735  142   1454

In [73]:
stats.chisquare(df1['total']) # ì›ë˜ëŠ” ()ì•ˆì— ê´€ì¸¡ê°’ê³¼ ê¸°ëŒ€ê°’ì´ (A,B) í˜•íƒœë¡œ ë“¤ì–´ê°€ì•¼ëœë‹¤. 
                              # ê³¼ì œì—ì„œëŠ” ê¸°ëŒ€ê°’ì´ ê´€ì¸¡ê°’ê³¼ ë™ì¼(í•©ì‚°)í•˜ë¯€ë¡œ 1ê°œë§Œ ì…ë ¥í•¨

Power_divergenceResult(statistic=1564.4572376818994, pvalue=0.0)

In [46]:
## pê°’ì´ 0.0ì´ë¯€ë¡œ ê·€ë¬´ê°€ì„¤ì€ ê¸°ê°, ëŒ€ë¦½ê°€ì„¤ ì±„íƒ
## ê²€ì¦ê²°ë¡ ì€ 'ì§€ì—­ë³„ë¡œ ì°¨ì´ê°€ ìˆë‹¤'

In [74]:
chi1 = stats.chisquare(df1['total'])
round(chi1.statistic, 3)
# 2/4 ì™„ë£Œ

1564.457

## 3. ì§€ì—­ê³¼ ê·œëª¨ì— ëŒ€í•´ì„œ two-sample chi-square testë¥¼ ì‹¤í–‰, í•´ë‹¹ ê²°ê³¼ë¥¼ `chi2`ì— ì €ì¥ í›„ ì„¤ëª…í•´ë³´ì„¸ìš”.

9ì›”ë‹¬ ë°ì´í„°ë¥¼ ê¸°ì¤€ìœ¼ë¡œ í•œë‹¤ë©´

| |-60 | 60-85 | 85- |
|:-:|:-:|:-:|:-:|
|ì„œìš¸|52|2|0|
|ëŒ€ì „|772|1|0|
|ëŒ€êµ¬|113|1061|42|
|ë¶€ì‚°|590|665|142|

ì— ëŒ€í•´ì„œ ê²€ì •í•´ì•¼ í•  ê²ë‹ˆë‹¤.

In [48]:
# 3/4 ì´ì›ì¹´ì´ì œê³±ê²€ì •, ê²°ê³¼ê°’ì€ chi2

## Ho : ì§€ì—­ê³¼ ê·œëª¨ ê°„ì— ê´€ê³„ê°€ ì—†ì„ ê²ƒì´ë‹¤.
## H1 : ê´€ê³„ ìˆë‹¤! (=ë‘ ë³€ìˆ˜ê°€ ë…ë¦½ì ì´ì§€ ì•Šë‹¤.)

In [75]:
df2= df1.drop(['total'], axis=1)

In [76]:
stats.chi2_contingency(df2) 

# ì¶œë ¥ê²°ê³¼ëŠ” ìˆœì„œëŒ€ë¡œ (í†µê³„ëŸ‰, pê°’, ììœ ë„ ì˜ë¯¸)

(2064.5767314171994, 0.0, 6, array([[ 22.24559612,  31.09522594,   2.65917794],
        [311.04110288, 434.77789124,  37.18100587],
        [645.12228746, 901.76155221,  77.11616033],
        [577.59101353, 807.36533061,  69.04365586]]))

In [77]:
chi2 = stats.chi2_contingency(df2) 
chi2[0]

2064.5767314171994

In [52]:
## pê°’ì´ 0.0ì´ë¯€ë¡œ ê·€ë¬´ê°€ì„¤ ê¸°ê°, ëŒ€ë¦½ê°€ì„¤ ì±„íƒ
## ë¶„ì–‘ì§€ì—­ê³¼ ë¶„ì–‘ê·œëª¨ëŠ” ì„œë¡œ ë…ë¦½ì ì´ì§€ ì•Šìœ¼ë©°, ìœ ê¸°ì ê´€ê³„ë¡œ ì¶”ì •í•  ìˆ˜ ìˆë‹¤.
# 3/4 ì™„ë£Œ

### 4. 2ë²ˆì— ëŒ€í•´ì„œ NumPy ë¥¼ ì‚¬ìš©í•˜ì—¬ (Scipyë¥¼ ì‚¬ìš©í•˜ì§€ ì•Šê³ ) $\chi^2$ test ì‹œí–‰ í›„ 2ë²ˆì˜ ê²°ê³¼ì™€ ë¹„êµí•´ë³´ì„¸ìš”. 

- `obs`, `exp`, `chi`ë¼ëŠ” ë³€ìˆ˜ë¥¼ ì‚¬ìš©í•´ì•¼í•©ë‹ˆë‹¤.

ì´ í›„ `chi2_contingency()`ì˜ ê²°ê³¼ë¬¼ê³¼ ë¹„êµí•´ë³´ì„¸ìš”

In [78]:
# 4/4 numpyë§Œ ì‚¬ìš©í•´ì„œ ì¹´ì´ì œê³± ì‹œí–‰, ì§€ì—­ì— ëŒ€í•œ ì¼ì› ì¹´ì´ê²€ì •ê³¼ ë¹„êµ
# obs = ê´€ì¸¡ì¹˜ / exp = ê¸°ëŒ€ê°’ / chi = ì¹´ì´ì œê³±ê°’

In [79]:
# ê´€ì¸¡ì¹˜ë¥¼ ì €ì¥í•œë‹¤.

obs = df1['total']
obs

ì‹œë„
ì„œìš¸      56
ëŒ€ì „     783
ëŒ€êµ¬    1624
ë¶€ì‚°    1454
Name: total, dtype: int64

In [80]:
# ê¸°ëŒ€ê°’(í‰ê· )ì„ ì¶”ê°€í•œë‹¤.

total_sum = df1['total'].sum() # ì „ì²´ ë¯¸ë¶„ì–‘ ì´í•©
total_count = len(df1['total']) # ì§€ì—­ ê°¯ìˆ˜ ì¹´ìš´íŠ¸ https://rfriend.tistory.com/450
exp = total_sum / len(df1['total']) # ê¸°ëŒ€ê°’ì˜ ì´í•©ì—ì„œ ë°ì´í„° ê°¯ìˆ˜ë¥¼ ë‚˜ëˆ  í‰ê·  êµ¬í•˜ê¸°
exp

979.25

In [107]:
# # numpyë¥¼ ì‚¬ìš©í•´ ì¹´ì´ì œê³± ê°’ì„ êµ¬í•œë‹¤. https://nittaku.tistory.com/108

sl = np.square(obs[0] - exp) / exp # ì„œìš¸ì˜ ì¹´ì´ì œê³±
dj = np.square(obs[1] - exp) / exp # ëŒ€ì „ì˜ ì¹´ì´ì œê³±
dg = np.square(obs[2] - exp) / exp # ëŒ€êµ¬ì˜ ì¹´ì´ì œê³±
bs = np.square(obs[3] - exp) / exp # ë¶€ì‚°ì˜ ì¹´ì´ì œê³±

chi = (sl+dj+dg+bs) # ì¹´ì´ì œê³±ì˜ í•©
chi

1564.4572376818994

## Grading
ì´ì „ ê³¼ì œë¥¼ ì™„ë£Œí–ˆë‹¤ë©´, ì•„ë˜ì˜ ì½”ë“œë¥¼ ì‹¤í–‰í•˜ì„¸ìš”.

In [82]:
def grade(df, chi1, chi2, obs, exp, chi2_contingency):
  score = 0
  score += (df.shape==(4,3)) # 1
  score += (df.sum().sum() == 3917) # 1-2
  score += (round(chi1.statistic, 3) == 1564.457) # 2
  score += (round(chi2[0], 3) == 2064.577) # 3
  score += ((obs == [56, 783, 1624, 1454]).sum() == 4) # 4-1
  score += (exp == 979.25) # 4-2
  score += (round(chi, 3) == 1564.457) # 4-3
  return(score)

In [94]:
grade(df, chi1, chi2, obs, exp, chi)

7

## ğŸ”¥ ë„ì „ ê³¼ì œ

ì•„ë˜ ì„¸ê°€ì§€ë¥¼ ë‹¤í•˜ë©´ ë©ë‹ˆë‹¤.

### 1. Function

4ë²ˆì—ì„œ ì‚¬ìš©í•œ one sample chisquare testë¥¼ í•¨ìˆ˜ì˜ í˜•íƒœë¡œ ë³€ê²½í•˜ì„¸ìš”.

In [66]:
v1 = [18,22,20,15,23,22]
v2 = [5,23,26,19,24,23]
def myChisq(value):

# ë‚´ìš©ì„ ì±„ìš°ì„¸ìš”.

myChisq(v1) 

# chisquareê°’ê³¼ pvalueë¥¼ ì¶œë ¥í•´ì•¼í•©ë‹ˆë‹¤.

myChisq(v2)

IndentationError: ignored

### 2. ANOVA

ì•„ë˜ ë§í¬ë¥¼ ì°¸ì¡°í•˜ì—¬ ANOVA ì— ëŒ€í•œ ê¸€ì„ ì½ê³ 

<https://partrita.github.io/posts/ANOVA-python/>

ë‹¤ìŒ `4ê°œ ê·¸ë£¹ì— ëŒ€í•´ì„œ í‰ê· ì˜ ì°¨ì´ê°€ ìˆëŠ”ì§€`ì— ëŒ€í•œ ê°€ì„¤ ê²€ì •ì„ ì‹œí–‰í•˜ì„¸ìš”.

A : `38 33 35 92 76 97 88 41 11  9`

B : `18 52 62 48 30 40 87 12 97 82`

C :  `28 90  5 49 66 73 96 80  4 17`

D : ` 8 99  4 12  7 64 18 10  9 20`

## 3. Sign Test

ì•„ë˜ ë§í¬ë¥¼ ì°¸ì¡°í•˜ì—¬ Sign Testì— ëŒ€í•œ ê¸€ì„ ì½ê³ 

<https://en.wikipedia.org/wiki/Sign_test>

ë‹¤ìŒ ë°ì´í„°ì—ì„œ ë‘ ê·¸ë£¹ê°„ì— ì°¨ì´ê°€ ìˆë‹¤ì— ëŒ€í•œ Sign Testì˜ ê³¼ì •ê³¼ ê²°ê³¼ë¥¼ ì„¤ëª…í•˜ì„¸ìš”

|A|B|
|:-:|:-:|
|142|138|
|140|136|
|144|147|	
|144|139|	
|142|143|	
|146|141|	
|149|143|	
|150|145|	
|142|136|	
|148|146|